@import url('http://fonts.cdnfonts.com/css/kirsty-2');


.bg-home {


    justify-content: center;
    align-items: center;
    background-image: url('src/assets/img/background4.png');
    background-size:cover !important;
    background-repeat: no-repeat;
}

.card {
    width: 50vh;
    height: 50vh;
    background: rgba(199, 192, 236, 0.65) !important;
    box-shadow: 8px 8px 8px 8px rgba(14, 18, 63, 0.535) !important;
    backdrop-filter: blur(3px) !important;
    -webkit-backdrop-filter: blur(3px) !important;
    border-radius: 20px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;


}

.card-title {

    text-align: center;
    font-family: 'Kaftus', sans-serif !important;
    color: #583d99;
    padding-top: 50px;
}

.form-login {
    width: 300px;
    height: 500px;

}

.text1 {

    font-family: 'Kirsty', sans-serif !important;
    color: #583d99 !important;
    font-size: 20px !important;
}

.cadastre-se {

    font-family: 'Kirsty', sans-serif !important;
    font-size: 20px !important;
    text-decoration: none !important;
    color: #6f56ef;
    font-style: bold !important;


}

.form-input {
    width: 100%;
    color: white;

}

.form-btn {

    background: #9a88f1 !important;
    border-radius: 10px !important;
    cursor: pointer;
    justify-content: center;
    line-height: 1.5;
    transition: all .14s ease-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    margin-top: 20px !important;
}

.form-btn:hover {
    box-shadow: 3px 3px 0 whitesmoke !important;
    transform: translate(-4px, -4px);
}

:focus-visible {
    outline-offset: 1px;
}

.text-decoration-none {
    text-decoration: none !important;
}