@import url('http://fonts.cdnfonts.com/css/kirsty-2');

.contato{
    background-image: url('https://i.imgur.com/JIgcI1p.jpg');
    background-repeat: no-repeat;
    width: auto;
    background-size: cover;
    background-position: center;
    font-family: 'Kirsty', sans-serif !important;
}


.text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  !important;

}

.cardForm{ 
    width: 740px;
    height: 550px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: rgba(184, 233, 134, 0.25);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 5px;
}

.but[type="button"]:active,
    [type="submit"]:hover{
    transition: 0.3s all;
    transform: translateY(3px);
    border: 0.5px solid transparent;
}

.but[type="submit"]:hover,
    [type="submit"]:focus {
    background: #9a88f1;
    cursor: pointer;
    
    
}

.but {
    background: #9a88f1 !important;
    border-radius: 10px !important;
    justify-content: center;
    transition: all .14s ease-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    width: 100%;
    padding: 7px;
    color: white;
   
   
    
}

.info {
    color: darkslateblue !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 18px !important;
    padding:12px;
    
}