.topo2 {
    margin-top:10%;
    background: rgba( 199, 192, 236, 0.65 ) !important;
    box-shadow: 0 8px 8px 0 rgba(14, 18, 63, 0.535) !important;
    backdrop-filter: blur( 3px ) !important;
    -webkit-backdrop-filter: blur( 3px ) !important;
    border-radius: 20px !important;
}

.form-post {

    padding-top: 50px;
    width: 450px;
    height: 450px;
    text-align: center;
    padding-left: 80px;

}

.botao-cad-post{

    background: #9384de !important;
    border-radius: 5px !important;
    cursor: pointer;
    justify-content: center;
    overflow: hidden;
    text-decoration: none;
    transition: all .14s ease-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.botao-cad-post:hover {
    box-shadow: 3px 3px 0 #000 !important;
    transform: translate(-4px, -4px) !important;
}

:focus-visible {
    outline-offset: 3px !important;
}

.titulo-cad-post{
    text-align: center;
    font-family: 'Kaftus', sans-serif !important;
    color:#583d99;
}