
.bg-cadastro-post{
    background-image: url('https://i.imgur.com/JIgcI1p.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cardForm-post {
    margin-top:3%;
    background: rgba( 199, 192, 236, 0.65 ) !important;
    backdrop-filter: blur( 3px ) !important;
    -webkit-backdrop-filter: blur( 3px ) !important;
    border-radius: 10px !important;
    width: 740px;
    height: 550px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btncad{

    background: #9384de !important;
    border-radius: 5px !important;
    cursor: pointer;
    justify-content: center;
    overflow: hidden;
    text-decoration: none;
    transition: all .14s ease-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.btncad:hover {
    box-shadow: 1px 1px 0 #000 !important;
    transform: translate(-4px, -4px) !important;
}

:focus-visible {
    outline-offset: 2px !important;
}

.tituloPost{
    text-align: center;
    font-family: 'Kaftus', sans-serif !important;
    color:#583d99;
}