@import url('https://fonts.cdnfonts.com/css/kaftus');
@import url('https://fonts.cdnfonts.com/css/brannboll-fet?styles=49739');



.caixa{
    background-color: #EDCEDF !important;
}


.titulo{
   color: #583d99 !important;
   font-weight: bold !important;
   font-family: 'Kaftus', sans-serif !important;
   }

.titulo2{

    font-family: 'Brannboll Smal', sans-serif !important;
    color: #583d99 !important;
    padding-bottom: 10px;

}

.botao{
    background: #c7c0ec !important;
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    overflow: hidden;
    text-decoration: none;
    transition: all .14s ease-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.botao:hover {
    box-shadow: 3px 3px 0 #000;
    transform: translate(-4px, -4px);
}

:focus-visible {
    outline-offset: 3px;
}


.postagens{
    background-color: #EDCEDF !important;
}


