@import url('https://fonts.cdnfonts.com/css/kirsty');



.cursor {

    text-decoration: none !important;
    cursor: pointer;


}

.container {

    justify-content: space-evenly !important;
    display: flex;
    background-color: #c7c0eca6 !important;


}

.nav-titulo {
    font-family: 'Kirsty', sans-serif !important;
    font-size: 25px !important;
    color: whitesmoke;
    text-decoration: none !important;
    text-shadow: 1px 1px black !important;
    
}